:root {
 --background-color: #e9f6ff;
 --primary-color: #0098ff;
 --secondary-color: #0065a8;
 --white-color: #ffffff;
 --black-color: #000;
 --overlay-color: #0065a8;
 --emergency-color: #FF5C00;
}


