@use '../globals/util/' as u;
h1, h2, h3 {
  font-weight: 600;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.1rem;
  color: var(--white-color);
}

h1 {
  font-size: clamp(u.rem(32), u.rem(18) + 3vw, u.rem(48));
}
h2 {
  font-size: clamp(u.rem(26), u.rem(16) + 2vw, u.rem(38));
}
h3 {
  font-size: clamp(u.rem(22), u.rem(14) + 2vw, u.rem(32));
}
p {
  font-family: 'Nuninto', sans-serif;
  letter-spacing: 0.1rem;
  font-size: u.rem(16);
  margin-top: 0;
  color: var(--white-color);
}

a, a:visited, a:active {
  text-decoration: none;
  letter-spacing: 0.1rem;  
}


ul {
  list-style: none;
}

ul li a{
  color: var(--white-color);
  font-size: 2rem;

}

ul li a:hover {
  color: var(--primary-color);
}

.light-btn {
  button {
  cursor: pointer;
  margin: 1rem;  
  font-size: 1.5rem;
  width: 14rem;
  height: 3rem;
  border: none;
  color: var(--white-color);
  background-color: var(--primary-color);
  opacity: 80%;   
  
}
button:hover {
  border: none;
  color: var(--primary-color);
  background-color: var(--white-color);
  opacity: 80%;
  }  
}

.dark-btn  { 
  button { 
  cursor: pointer;
  margin: 1rem;  
  font-size: 1.5rem;
  width: 14rem;
  height: 3rem;
  border: none;
  color: var(--white-color);
  background-color: var(--secondary-color);
  opacity: 80%;  
  }
  button:hover {
  border: none;
  color: var(--primary-color);
  background-color: var(--white-color);
  opacity: 80%;  
  }
}
.reverse-light-btn {
  button{
  cursor: pointer;
  margin: 1rem;  
  font-size: 1.5rem;
  width: 14rem;
  height: 3rem;
  border: none;
  color: var(--primary-color);
  background-color: var(--white-color);
  opacity: 80%;   
  }

  button:hover {
  border: none;
  color: var(--white-color);
  background-color: var(--primary-color);
  opacity: 80%;
  }
}

.reverse-dark-btn {
  button {
  cursor: pointer;
  margin: 1rem;  
  font-size:1.5rem;
  width: 14rem;
  height: 3rem;
  border: none;
  color: var(--secondary-color);
  background-color: var(--white-color);
  opacity: 80%;  
  }
  button:hover {
  border: none;
  color: var(--white-color);
  background-color: var(--primary-color);
  opacity: 80%;  
  }
}